#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100hv;
}

#root>.requerimiento {
  display: flex;
}


@media (max-width: 576px) {

  #root>.requerimiento {
    flex-direction: column;
  }
}